{% extends "base.html" %}

{% block title %} Lista de otros animales {% endblock %}

{% block header %} 
<form class="form-inline my-2 my-lg-0"action="/mascotas/otros/" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block body %} 
<h1>Otros animales</h1>


    {% for others in others %}
        
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Amazona_auropalliata_-Roatan_Tropical_Butterfly_Garden-8a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{others.name}}</h5> 
            <p> {% if cats.vaccine == True %}
                Está vacunado
                {% else %}
                No está vacunado
                {% endif %}
            </p>
            <p>{% if others.castrated == True %}
                Está castrado
                {% else %}
                No está castrado
                {% endif %}
            </p>
            <a href="/pets/update-other/{{others.pk}}/" class="btn btn-primary" >Editar</a>
            <a href="/pets/delete-other/{{others.pk}}/" class="btn btn-danger">Borrar</a>
        </div>
      </div>
    {% endfor %}
    <a href="/pets/new-other/">
      <button>Agregar</button>
    </a> 
{% endblock %}