{% extends "base.html" %}

{% block title %} Lista de gatos {% endblock %}

{% block header %} 
<form class="form-inline my-2 my-lg-0"action="/pets/list_cats/" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block body %} 
<h1>Nuestos gatos</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for cats in cats %}


      <div class="col">
        <div class="card" style="width: 24rem;">
          <img src="https://img.freepik.com/foto-gratis/gato-rojo-o-blanco-i-estudio-blanco_155003-13189.jpg?w=740&t=st=1674325304~exp=1674325904~hmac=486457781d6e2cd203f92dd1f95b87e5c9e4e6069e4ce3ab94a92828d81536d2" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{cats.name}}</h5>
            <p class="card-text">{% if cats.vaccine == True %}
              Está vacunado
              {% else %}
              No está vacunado
              {% endif %}</p>
            <p class="card-text">{% if cats.castrated == True %}
              Está castrado
              {% else %}
              No está castrado
              {% endif %} </p>
              
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="/pets/update-cat/{{cats.pk}}/" class="btn btn-primary" >Editar</a>
              <a href="/pets/delete-cat/{{cats.pk}}/" class="btn btn-danger">Borrar</a>
              {% endif %}
              {% endif %}

          </div>
        </div>
      </div>

    {% endfor %}
  </div>
    {% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
    <a href="/pets/new-cat/">
      <button>Agregar gato</button>
      {% endif %}
      {% endif %}
    </a> 
{% endblock %}