{% extends "base.html" %}

{% block title %} Lista de otros animales {% endblock %}

{% block header %} 
<form class="form-inline my-2 my-lg-0"action="/pets/list_others/" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block body %} 
<h1>Otros animales</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for others in others %}


    <div class="col">
      <div class="card" style="width: 24rem;">
        <img src="https://img.freepik.com/foto-gratis/macau-loro_1339-3387.jpg?w=740&t=st=1675602321~exp=1675602921~hmac=6a8ea350ee413076f9cb1313997de83206c4eed0bffb82f3ab49d65ce855079b" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{others.name}}</h5>
          <p class="card-text">{% if others.vaccine == True %}
            Está vacunado
            {% else %}
            No está vacunado
            {% endif %}</p>
          <p class="card-text">{% if others.castrated == True %}
            Está castrado
            {% else %}
            No está castrado
            {% endif %} </p>
            
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="/pets/update-other/{{others.pk}}/" class="btn btn-primary" >Editar</a>
            <a href="/pets/delete-other/{{others.pk}}/" class="btn btn-danger">Borrar</a>
            {% endif %}
            {% endif %}

        </div>
      </div>
    </div>

  {% endfor %}
</div>
  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
  <a href="/pets/new-other/">
    <button>Agregar mascota </button>
    {% endif %}
    {% endif %}
  </a> 

{% endblock %}