{% extends "base.html" %}

{% block title %} Editar Perro {% endblock %}

{% block body %} 
<h1>Editar Perro</h1>

{% if request.method == "GET" %}

    <form action="" method="POST">
        
        {% csrf_token %}

        <table>
        {{form.as_table}}
        </table>
        
        <input type="submit" value="Aceptar">

        {% else %}

        <p>Integrante editado con exito</p>

        {% endif %}
        
        {% if form_errors %}
        <h2>Error:</h2>
            {{ form_errors }}

        {% endif %}

    </form>


{% endblock %}


