{% extends "base.html" %}

{% block title %} Nosotros {% endblock %}

{% block body %} 
<h1 style="text-align: center;" > Sobre Nosotros </h1>
<div class="alert alert-primary" role="alert">
Cree esta web como proyecto del curso python de Coderhouse. Me llamo Jeronimo Coceres.
La idea fue crear una pagina web para un refugio de animales que opera en mi ciudad natal, Gualeguaychú-Entre Rios.
Es una posibilidad, si la pagina web es mejorada y resulta en algo que me conforme, donarla a dicha organización.
  </div>
  <center>
    <img src="https://www.diariojunio.com.ar/fotos/foto0_1_110952_1.jpg" alt="">
</center>


{% endblock %}link